{% extends "base.html"%}
<<!DOCTYPE html>

    <html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{%block title%} curso C# {%endblock%}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>

    <body>

        {% block content %}
        <P>Estamos a dia: {{fecha}}</P>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/VGlXzfKZzAw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>        {%endblock%}

    </body>

    </html>